// .formContainer{
//     background: linear-gradient(
//     to left bottom,
//     rgba(208, 253, 236, 0.803),
//     rgba(102, 129, 217, 0.867), 
//     #ff00ff5b,
   
    
//     hwb(241 40% 15% / 0.401),
//     rgba(208, 253, 236, 0.803),
   
//   ); 
//     display: flex;
//     height: 100vh;
//     align-items: center;
//     justify-content: center;

//     .formWrapper {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 10px;
//         // background-color: whitesmoke;
//         // background-color: hwb(242 10% 32% / 0.593);
//         background-color:rgba(0, 115, 255, 0.103);
//         box-shadow: 0 2px 10px #460e6bfa;
//         padding: 26px;
//         border-radius: 20px;
        
     
     
//         .logo{
//             color: hsla(0, 100%, 66%, 0.75);
//             font-weight: bold;
//             font-size: 28px;
//         }

//         form{
//             display: flex;
//             flex-direction: column;
//             gap: 15px;
//             padding: 15px;
          
           
           

//             input {
//                 padding: 12px;
               
//                 border:none;
//                 width: 250px;
//                 border-bottom: 1px solid hsla(0, 100%, 66%, 0.317) ;
//                 &::placeholder{
//                     color: rgb(175,175,175);
                    
//                 }
//             }
//             button{
//                 padding: 10px;
//                 background-color: hsla(0, 100%, 50%, 0.722);
//                 color: whitesmoke;
//                 font-weight: bold;
//                 border: none;
//                 cursor: pointer;
//             }
//             label{
//                 display: flex;
//                 align-items:center ;
//                 gap: 10px;
//                 color:rgb(238, 220, 249);
//                 font-size:13px;
//                 cursor:pointer;
//             } 
//             img{
//                 width: 40px;
               
//                 background-color:  rgba(102, 129, 217, 0.365), ;
               
//             }
//             // p{
//             //     color:#8da4f1 ;
//             // }
//         }
//     }

   
  
    

// }

// .home{
       
//     height: 100vh;
//     background: linear-gradient(
//         to left bottom,
//         rgba(208, 253, 236, 0.803),
//         rgba(102, 129, 217, 0.867), 
//         #ff00ff5b,
       
        
//         hwb(241 40% 15% / 0.401),
//         rgba(208, 253, 236, 0.803),
       
//       ); 
//      display: flex;
//      align-items: center;
//      justify-content: center;

//      .container{
//         border: 1px solid #ffffff33;
//         border-radius: 10px;
//          height: 80%;
//          width: 70%;
//          display: flex;
//          overflow: hidden;
//         //  justify-content: space-between;

//          .sidebar{
//             flex:1;
//             border-right: 1px solid rgba(172, 112, 232, 0.358);
//             background-color:rgba(0, 115, 255, 0.103);

//             .navbar{
//                 // height: 50px;
//                 padding: 18px;
//                 display: flex;
//                 justify-content: space-between;
//                 align-items: center;
//             //    background-color: #ff00000d;
//                background-color: hwb(288 25% 40% / 0.317);
             


              
//                .user{
//                 display: flex;
//                 align-items: center;
//                 gap: 5px;

//                 img {
//                     height: 30px;
//                     width: 30px;
//                     border-radius: 50%;
//                     background-color: aliceblue;
//                     object-fit: cover;
//                 }
//                 button{
//                     margin-left: 160px;
//                     padding: 10px;
//                 background-color: hwb(0 0% 0% / 0.512);
//                 color: whitesmoke;
//                 font-weight: bold;
//                 border: none;
//                 border-radius: 20px;
//                 cursor: pointer;
//                 }
//                }
               
                
//             }

//             .search{
//                 border-bottom: 1px solid #80808064;
//                 position: relative;

//                 .searchForm{
//                     padding: 10px;
//                     position: relative;
//                     display: flex;
//                     align-items: center;


//                    input{
//                     background-color: #d1c7f6;
//                     // background-color: transparent;
//                     border: none;
//                     padding: 5px;
//                     outline: none;
//                     width: 250px;
                  

//                    }
//                    .searchIcon{
//                     position: absolute;
//                     right: 80px;
//                     font-size: 10px;
//                    }
//                 }
//                }
//                .usersChat{
//                 display: flex;
//                 align-items: center;
//                 gap:10px;
//                 cursor: pointer;
//                 &:hover{
//                     background-color: blueviolet;
//                 }
//                 img{
//                     padding: 5px;
//                     width: 50px;
//                     height: 50px;
//                     border-radius: 50%;
//                     object-fit: cover;
//                 }

//                 .userChatInfo{
//                     span{
//                         font-size: 18px;
//                         font-weight: 500;
//                     }
//                     p{
//                         font-size: 14px;
//                         color:#4b4a4ae8;
//                     }
//                 }
//                }

//          }
//          .chatbox{
           
//             flex:2;
//             background: url( "./assets/img/7.jpg"
//             );
//             background-size: cover;
//             background-repeat: no-repeat;
           
          


//             .chatinfo{
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;
//                 padding:10px ;
//                 color: rgb(39, 41, 42);
//                 font-size: 20px;
//                 background-color: #d1c7f6;
//                 height: 50px;
                

//             }

//             .icons{
//                 display: flex;
//                 gap: 10px;
//             }
//             .messages{
//                 color: #ffffff;
//                  padding: 10px;
//                  background-color: rgba(0,0,0,0.3);

//                 height: calc( 100% - 160px );
               
               
//                 font-size:15px ;
//                 overflow: scroll;

//                 .message{
//                     display: flex;
//                     gap: 20px;
//                     margin-bottom: 20px;
//                 }

//                 .messageInfo{
//                     display: flex;
//                     flex-direction: column;
//                     color: rgba(255, 255, 255, 0.751);
//                     font-weight: 300;
//                     img{
//                         width: 45px;
//                         height: 45px;
//                         border-radius: 50%;
//                         object-fit: cover;
//                     }

//                 }
//                 .messageContent{
//                     img{
//                         width: 50%;
//                         // height: 40px;
//                         // border-radius: 50%;
//                         // object-fit: cover;
//                     }
                    
//                 }
//             }
//             .input{
//                 height: 50px;
//                 padding: 10px;
//                 background-color: #ebe6fd;
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;

//                 input{
//                     width: 88%;
//                     outline:none;
//                     border: none;
//                     border-radius: 10px;
//                     padding: 10px;
//                     font-size: 18px;
//                 }

//                 .send{
//                     display: flex;
//                    gap: 10px;
//                    font-size: 20px;
//                    color: rgb(67, 64, 64);
//                 }
//             }
          

//          }

//      }
//  }
.formContainer{
    background: linear-gradient(
    to left bottom,
    rgba(208, 253, 236, 0.803),
    rgba(102, 129, 217, 0.867), 
    #ff00ff5b,
   
    
    hwb(241 40% 15% / 0.401),
    rgba(208, 253, 236, 0.803),
   
  ); 
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

    .formWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        // background-color: whitesmoke;
        // background-color: hwb(242 10% 32% / 0.593);
        background-color:rgba(0, 115, 255, 0.356);
        box-shadow: 0 2px 10px #460e6bfa;
        padding: 26px;
        border-radius: 20px;
        
     
     
        .logo{
            color: hsla(0, 100%, 66%, 0.75);
            font-weight: bold;
            font-size: 28px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 15px;
          
           
           

            input {
                padding: 12px;
               
                border:none;
                width: 250px;
                border-bottom: 1px solid hsla(0, 100%, 66%, 0.317) ;
                &::placeholder{
                    color: rgb(175,175,175);
                    
                }
            }
            button{
                padding: 10px;
                background-color: hsla(0, 100%, 50%, 0.722);
                color: whitesmoke;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            label{
                display: flex;
                align-items:center ;
                gap: 10px;
                color:rgb(238, 220, 249);
                font-size:13px;
                cursor:pointer;
            } 
            img{
                width: 40px;
               
                background-color:  rgba(102, 129, 217, 0.365), ;
               
            }
            // p{
            //     color:#8da4f1 ;
            // }
        }
    }

   
  
    

}

.home{
       
    height: 100vh;
    background: linear-gradient(
        to left bottom,
        rgba(208, 253, 236, 0.803),
        rgba(102, 129, 217, 0.867), 
        #ff00ff5b,
       
        
        hwb(241 40% 15% / 0.401),
        rgba(208, 253, 236, 0.803),
       
      ); 
     display: flex;
     align-items: center;
     justify-content: center;

     .container{
        border: 1px solid #ffffff33;
        border-radius: 10px;
         height: 80%;
         width: 70%;
         display: flex;
         overflow: hidden;
        //  justify-content: space-between;

         .sidebar{
            flex:1;
            border-right: 1px solid rgba(172, 112, 232, 0.358);
            background-color:rgba(0, 115, 255, 0.103);

            .navbar{
                // height: 50px;
                padding: 18px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            //    background-color: #ff00000d;
               background-color: hwb(288 25% 40% / 0.317);
             


              
               .user{
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    background-color: aliceblue;
                    object-fit: cover;
                }
                button{
                    margin-left: 160px;
                    padding: 10px;
                background-color: hwb(0 0% 0% / 0.512);
                color: whitesmoke;
                font-weight: bold;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                }
               }
               
                
            }

            .search{
                border-bottom: 1px solid #80808064;
                position: relative;

                .searchForm{
                    padding: 10px;
                    position: relative;
                    display: flex;
                    align-items: center;


                   input{
                    background-color: #d1c7f6;
                    // background-color: transparent;
                    border: none;
                    padding: 5px;
                    outline: none;
                    width: 250px;
                  

                   }
                   .searchIcon{
                    position: absolute;
                    right: 80px;
                    font-size: 10px;
                   }
                }
               }
               .usersChat{
                display: flex;
                align-items: center;
                gap:10px;
                cursor: pointer;
                &:hover{
                    background-color: blueviolet;
                }
                img{
                    padding: 5px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo{
                    span{
                        font-size: 18px;
                        font-weight: 500;
                    }
                    p{
                        font-size: 14px;
                        color:#4b4a4ae8;
                    }
                }
               }

         }
         .chatbox{
           
            flex:2;
         
           
          


            .chatinfo{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding:10px ;
                color: rgb(39, 41, 42);
                font-size: 20px;
                background-color: #d1c7f6;
                background: linear-gradient(
                    to left bottom,
                    rgba(208, 253, 236, 0.803),
                    rgba(102, 129, 217, 0.867), 
                    rgba(208, 253, 236, 0.803),
                  
                    rgba(102, 129, 217, 0.867), 
                  
                   
                    
                    hwb(241 40% 15% / 0.401),
                    rgba(208, 253, 236, 0.803),
                    #ff00ff5b,
                   
                  ); 
                height: 50px;
                

            }

            .icons{
                display: flex;
                gap: 10px;
            }
            .messages{
                height: calc( 100% - 140px );
                overflow: scroll;
                color: #ffffff;
              
                
                 background: url( "./assets/img/7.jpg"
                 );
                 background-size: cover;
                 background-repeat: no-repeat;
               

               
               
               
                font-size:15px ;
               

                .overlay{
                    padding: 10px;
                      background-color: rgba(0,0,0,0.3);
                      
                     
                

                .message{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;
                  
                }

                .messageInfo{
                    display: flex;
                    flex-direction: column;
                    color: rgba(255, 255, 255, 0.751);
                    font-weight: 300;
                    img{
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                }
                .messageContent{
                    p{
                        background-color: white;
                        padding: 10px 20px;
                        border-radius: 0px 10px 10px 10px;
                    }
                    img{
                        width: 50%;
                        // height: 40px;
                        // border-radius: 50%;
                        // object-fit: cover;
                    }
                    
                }
                &.admin{
                    flex-direction: row-reverse;

                    p{
                        background-color: rgb(100, 130, 237);
                        color: white;
                        border-radius:10px 0px 10px 10px ;
                    }
                }
            }
        
            }
            .input{
                height: 50px;
                padding: 10px;
            //   background-color:rgba(0, 115, 255, 0.103);
            background: linear-gradient(
                to left bottom,
                rgba(208, 253, 236, 0.803),
                rgba(102, 129, 217, 0.867), 
                #ff00ff5b,
               
                
                hwb(241 40% 15% / 0.401),
                rgba(208, 253, 236, 0.803),
               
              ); 

                display: flex;
                align-items: center;
                justify-content: space-between;

                input{
                    width: 88%;
                    outline:none;
                    border: none;
                    border-radius: 10px;
                    padding: 10px;
                    font-size: 18px;
                }

                .send{
                    display: flex;
                   gap: 10px;
                   font-size: 20px;
                   color: rgb(67, 64, 64);
                }
            }
          

         }

     }
 }
